.mat-ruah {
    color: white;
}

.mat-presentazione {
    @extend .mat-ruah;
    background-color: #FD367D !important;
}

.mat-lavoro {
    @extend .mat-ruah;
    background-color: #FA436F !important;
}

.mat-cibo {
    @extend .mat-ruah;
    background-color: #F85061 !important;
}

.mat-telefono {
    @extend .mat-ruah;
    background-color: #F55D53 !important;
}

.mat-come-sei-come-stai {
    @extend .mat-ruah;
    background-color: #F36A45 !important;
}

.mat-salute {
    @extend .mat-ruah;
    background-color: #F07838 !important;
}

.mat-citta {
    @extend .mat-ruah;
    background-color: #EE852A !important;
}

.mat-mezzi-di-trasporto {
    @extend .mat-ruah;
    background-color: #EB921C !important;
}

.mat-cura-della-casa {
    @extend .mat-ruah;
    background-color: #E99F0E !important;
}

.mat-viaggio {
    @extend .mat-ruah;
    background-color: #E6AC00 !important;
}

.mat-cartellonistica {
    @extend .mat-ruah;
    background-color: #E6AC00 !important;
}

.mat-rischi-pericoli {
    @extend .mat-ruah;
    background-color: #A1B63C !important;
}

.mat-benessere-al-lavoro {
    @extend .mat-ruah;
    background-color: #5CC078 !important;
}

.mat-patente {
    @extend .mat-ruah;
    background-color: #17CAB4 !important;
}

.mat-edilizia {
    @extend .mat-ruah;
    background-color: #17CAB4 !important;
}

.mat-edilizia-2 {
    @extend .mat-ruah;
    background-color: #6499A2 !important;
}

.mat-assistenza-alla-persona {
    @extend .mat-ruah;
    background-color: #B0678F !important;
}

.mat-pulizie {
    @extend .mat-ruah;
    background-color: #FD367D !important;
}