<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign=" start" class=" gene-file-upload">
    <md-card fxFlex="100%">
        <div class="gene-card-title">
            <div fxLayout="row" fxLayoutAlign="start center">
                <div fxLayout="column">
                    <h4>{{ cardTitle }}</h4>
                </div>
                <span fxFlex></span>
            </div>
            <md-divider></md-divider>
        </div>
        <div class="gene-card-content">
            <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
                <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
                </div>
                <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <md-input-container class="full-wid">
                            <input mdInput placeholder="Title" [formControl]="form.controls['title']">
                        </md-input-container>
                        <small class="gene-block" *ngIf="form.controls['title'].hasError('required') && form.controls['title'].touched" class="mat-text-warn">
                            You must include a title.
                        </small>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <md-input-container class="full-wid">
                            <input mdInput placeholder="Picture" [formControl]="form.controls['picture']">
                        </md-input-container>
                        <small class="gene-block" *ngIf="form.controls['picture'].hasError('required') && form.controls['picture'].touched" class="mat-text-warn">
                            You must include a picture.
                        </small>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <md-input-container class="full-wid">
                            <input mdInput placeholder="Audio" [formControl]="form.controls['audio']">
                        </md-input-container>
                        <small class="gene-block" *ngIf="form.controls['audio'].hasError('required') && form.controls['audio'].touched" class="mat-text-warn">
                            You must include a audio.
                        </small>
                    </div>
                </div>
            <div class="pad-wrap">
                    <md-card-actions>
                        <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
                    </md-card-actions>
                </div>
            </form>
        </div>
    </md-card>
</div>