$file-type-dotted-area:#c8c8c8;
$border-radius:8px;

.box-inset-questionsBox {
    border: 3px dotted $file-type-dotted-area;
    border-radius: $border-radius;
}

.box-inset-questionsBox .mat-list .mat-list-item .mat-list-item-content {
    padding: 0 0px;
}