<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign=" start" class=" gene-file-upload">
    <md-card fxFlex="100%">
        <div class="gene-card-title">
            <div fxLayout="row" fxLayoutAlign="start center">
                <div fxLayout="column">
                    <h4>Carica il nuovo esercizio</h4>
                </div>
                <span fxFlex></span>
            </div>
            <md-divider></md-divider>
        </div>
        <div class="gene-card-content">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
                    <div fxFlex="100">
                        <md-input-container class="full-wid">
                            <input mdInput placeholder="You must include a exercise title." [formControl]="form.controls['title']">
                        </md-input-container>
                        <small class="gene-block" *ngIf="form.controls['title'].hasError('required') && form.controls['title'].touched" class="mat-text-warn">
                            You must include a exercise title.
                        </small>
                        <md-input-container class="full-wid">
                            <input mdInput placeholder="You must include a word." [formControl]="form.controls['word']">
                        </md-input-container>
                        <small class="gene-block" *ngIf="form.controls['word'].hasError('required') && form.controls['word'].touched" class="mat-text-warn">
                            You must include a word.
                        </small>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <div class="file-type" ng2FileDrop [ngClass]="{'nv-file-over': hasPictureDropZoneOver}" (fileOver)="fileOverPicture($event)"
                            [uploader]="uploader">
                            <div *ngIf="!picture">Carica qui la tua foto</div>
                            <img *ngIf="picture" class="picturePreview" [src]="pictureUrl" />
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center" *ngIf="this.section !== undefined && this.section.id < 5">
                    <div class="box-inset box-inset-letterBox pad-all-md">
                        <h5 class="mrgn-b-md">Letters</h5>
                        <ms-strings-input [strings]='letters'></ms-strings-input>
                    </div>
                </div>
                <div class="pad-wrap">
                    <md-card-actions>
                        <button md-raised-button color="primary" type="submit" [disabled]="!isFormValid()" style="float: right;">{{ cardSubmitButtonTitle }}</button>
                    </md-card-actions>
                </div>
            </form>
        </div>
    </md-card>
</div>