<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign=" start" class=" gene-file-upload">
    <md-card fxFlex="100%">
        <div class="gene-card-title">
            <div fxLayout="row" fxLayoutAlign="start center">
                <div fxLayout="column">
                    <h4>{{ cardTitle | translate }}</h4>
                </div>
                <span fxFlex></span>
            </div>
            <md-divider></md-divider>
        </div>
        <div class="gene-card-content">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
                    <div fxFlex="100">
                        <md-input-container class="full-wid">
                            <input mdInput [placeholder]="'You must include a exercise title.' | translate"
                                [formControl]="form.controls['title']">
                        </md-input-container>
                        <md-input-container class="full-wid">
                            <input mdInput [placeholder]="'You must include a word.' | translate"
                                [formControl]="form.controls['word']">
                        </md-input-container>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <ms-file-input [file]="picture" type="image" (onFileChanged)="onPictureChanged($event)">
                        </ms-file-input>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <ms-file-input [file]="audio" type="mp3" (onFileChanged)="onAudioChanged($event)">
                        </ms-file-input>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center"
                    *ngIf="this.section !== undefined && this.section.id < 5">
                    <div class="box-inset box-inset-letterBox pad-all-md">
                        <h5 class="mrgn-b-md">{{ 'Letters' | translate }}</h5>
                        <ms-strings-input [strings]='letters' [placeholder]="'A new letter' | translate">
                        </ms-strings-input>
                    </div>
                </div>
                <div class="pad-wrap">
                    <md-card-actions>
                        <button md-raised-button color="primary" type="submit" [disabled]="!isFormValid()"
                            style="float: right;">{{ cardSubmitButtonTitle | translate }}</button>
                        <button md-raised-button class="mat-button-ruah" type="button" style="float: right;"
                            (click)="goToListPage()">{{ 'Annulla' | translate }}</button>
                    </md-card-actions>
                </div>
            </form>
        </div>
    </md-card>
</div>