<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start">
  <div  fxFlex="100" class="gene-sorted-drag-drop">
    <md-card class="mat-{{section.name}} mat-card">
      <div class="gene-card-title">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column">
            <h2>{{ 'Scriviamo' | translate }}</h2>
          </div>
          <span fxFlex></span>
        </div>
        <md-divider></md-divider>
      </div>
      <md-list [sortablejs]="writeList" [sortablejsOptions]="simpleOptions" class="no-gutter">
        <md-list-item class="draggable" *ngFor="let write of writeList">
          <div>
            <button md-icon-button [md-menu-trigger-for]="menu" aria-label="Open basic menu">
              <md-icon>more_vert</md-icon>
            </button>
            <md-menu #menu="mdMenu">
              <button md-menu-item *ngFor="let listMenuItem of workListMenuItems.getAll()" (click)="menuAction(write, listMenuItem)">
                {{ listMenuItem.key | translate }}
              </button>
            </md-menu>
          </div>
          <div>
            <img md-list-avatar [src]="getMediaUrl(write.picture)" alt="...">
          </div>
          <div class="pad-wrap">
            <span md-line class="gene-text-lg"> {{ write.title }} </span>
          </div>
        </md-list-item>
      </md-list>
    </md-card>
  </div>
</div>
<!-- class="box-inset pad-all-md mrgn-b-md"-->
<div>
  <button class="mrgn-all-xs mat-button-ruah" md-fab style="float: right" routerLink="exercise">
    <md-icon>add</md-icon>
  </button>
</div>