<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start">
  <md-card fxFlex="100%">
    <div class="gene-card-title">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column">
          <h4>{{ cardTitle | translate }}</h4>
        </div>
        <span fxFlex></span>
      </div>
      <md-divider></md-divider>
    </div>
    <div class="gene-card-content">
      <form [formGroup]="form">
        <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <md-input-container class="full-wid">
              <input mdInput [placeholder]="'You must include a title' | translate" [formControl]="form.controls['body']">
            </md-input-container>
          </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center" *ngIf="isReadOption">
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <md-input-container class="full-wid">
              <input mdInput type="number" [placeholder]="'You must include a marker' | translate"
                [formControl]="form.controls['markerId']">
            </md-input-container>
          </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <ms-file-input [file]="audio" type="mp3" (onFileChanged)="onFileChanged($event)"></ms-file-input>
          </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center" *ngIf="!isReadOption">
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <md-checkbox class="example-margin" [(ngModel)]="correct" [ngModelOptions]="{standalone: true}" align="end">
              {{ 'Correct' | translate }}</md-checkbox>
          </div>
        </div>
        <div class="pad-wrap">
          <md-dialog-actions align="end">
            <button md-button (click)="onClose()">{{ 'Annulla' | translate }}</button>
            <button md-button color="primary" (click)="onSubmit()"
              [disabled]="!isFormValid()">{{ 'Ok' | translate }}</button>
          </md-dialog-actions>
        </div>
      </form>
    </div>
  </md-card>
</div>