<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start">
  <md-card fxFlex="100%">
    <div class="gene-card-title">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column">
          <h4>{{ cardTitle | translate }}</h4>
        </div>
        <span fxFlex></span>
      </div>
      <md-divider></md-divider>
    </div>
    <div class="gene-card-content">
      <form [formGroup]="form">
        <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <md-input-container class="full-wid">
              <input mdInput placeholder="You must include a title" [formControl]="form.controls['body']">
            </md-input-container>
          </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <ms-file-input [fileName]="audio" type="mp3" (onFileNameChanged)="onFileNameChanged($event)" [credits]="credits" (onCreditsChanged)="onCreditsChanged($event)"></ms-file-input>
          </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <md-checkbox class="example-margin" [(ngModel)]="correct" [ngModelOptions]="{standalone: true}" align="end">Correct</md-checkbox>
          </div>
        </div>
        <div class="pad-wrap">
          <md-dialog-actions align="end">
            <button md-button (click)="onClose()">Annulla</button>
            <button md-button color="primary" (click)="onSubmit()" [disabled]="!isFormValid()">Ok</button>
          </md-dialog-actions>
        </div>
      </form>
    </div>
  </md-card>
</div>