<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start">
  <md-card fxFlex="100%" class="padding">
    <div class="gene-card-title">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column">
          <h4>{{ cardTitle | translate }}</h4>
        </div>
        <span fxFlex></span>
      </div>
      <md-divider></md-divider>
    </div>
    <div class="gene-card-content scroll-layout">
      <form [formGroup]="form">
        <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <md-input-container class="full-wid">
              <input mdInput placeholder="You must include a title" [formControl]="form.controls['body']">
            </md-input-container>
          </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <ms-file-input [file]="audio" type="mp3" (onFileChanged)="onAudioChanged($event)"></ms-file-input>
          </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <ms-file-input [file]="picture" type="image" (onFileChanged)="onPictureChanged($event)"></ms-file-input>
          </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center" *ngIf="!isUnderstandQuestion">
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <md-checkbox class="example-margin" [(ngModel)]="correct" [ngModelOptions]="{standalone: true}" align="end">
              Correct</md-checkbox>
          </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center" *ngIf="isUnderstandQuestion">
          <div class="box-inset box-inset-answersBox pad-all-md">
            <h5 class="mrgn-b-md">Answers</h5>
            <ms-answers-input [answers]="answers"></ms-answers-input>
          </div>
        </div>
        <div class="pad-wrap">
          <md-dialog-actions align="end">
            <button md-button (click)="onClose()">Annulla</button>
            <button md-button color="primary" (click)="onSubmit()" [disabled]="!isFormValid()">Ok</button>
          </md-dialog-actions>
        </div>
      </form>
    </div>
  </md-card>
</div>