.center-vertical-flex{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.padding-r-md{
  padding-right: 16px;
}

.time-text{
  font-size: smaller;
  margin-left: 16px;
}

.audio-slider{
  overflow: hidden;
}