<div class="audio-box">
    <div class="button-box">
        <button type="button" class="mrgn-all-xs" md-icon-button md-button-sm (click)="toggleAudio()">
            <md-icon>{{playButtonIcon}}</md-icon>
        </button>
    </div>
    <div class="slider-box">
        <md-slider class="center-vertical  audio-slider" style="width: 70%" [value]="currentTime"
                   (mousedown)="setDragging(true)"
                   (mouseup)="setDragging(false)" (change)="seekAudio($event)" min="0"
                   [max]="audio?.duration"></md-slider>
    </div>
    <div class="time-box">
        <span *ngIf="showTime" class="text-nowrap time-text">{{ formatSeconds(currentTime) }} / {{ formatSeconds(audio?.duration) }}</span>
    </div>
</div>